$main-background: #121215;
$accent-background: #19191E;
$text-color: #E3E3E9;
$accent-blue: #80deea;

$dark: $accent-background;
@import "bootstrap";

hr {
    margin: 0.25rem;
}

.page_body{
    margin-top: 0.5rem;
}

.right_float{
    float: right;
}

.full_width{
    width:100%;
}

body{
    background-color: $main-background;
    font-family: 'Roboto', sans-serif;
    color: $text-color;
}

.section_header {
    margin-top:0.5rem;
    font-size: 1.7rem;
    font-weight: 500;
}

.section_subheader {
    font-size: 1.2rem;
    font-weight: 400;
}

.login_header{
    font-size: 1.7rem;
    font-weight: 500;
}

.login_subheader {
    font-size: 1.2rem;
    font-weight: 400;
}

#dice-box{
    position: fixed;
    pointer-events: none;
    z-index: 1000;
    width: 100%;
    height: 100%;
    canvas {
        position: fixed;
        pointer-events: none;
        z-index: 1000;
        width: 100%;
        height: 100%;
    }
}

#dice_results{
    position: fixed;
    z-index: 1001;
    font-size: 24px;
    top: 3.5rem;
    left: 90%;
    width: 15%;
    background-color: rgba(34,34,34, 0.9);
    border: 1px solid $accent-blue;
    color: $accent-blue;
    transform: translate(-50%, 2%);
    overflow-wrap: anywhere;
}

.nav-link, .navbar-brand {
    color: $accent-blue;
}

.nav-link:hover, .nav-link:active, .nav-link:focus {
    color: $text-color;
}

.basic_list { 
    list-style-type: none;
    padding: 0;
    margin: 0;
}

td {
    padding-left: 1rem;
}

//Bootstrap overrides
.btn-primary {
    --bs-btn-bg: none;
    --bs-btn-border-color: #80deea;
}

.btn-danger{
    --bs-btn-bg: none;
}

.btn-dark{
    --bs-btn-bg: none; 
    background-image: radial-gradient(#00000000, #19191ea1);
    border-width: 1px;
}

.form-control, .form-control:focus, .input-group-text {
    background-color: transparent;
    color: $text-color;
    border-color: $accent-blue;
}

.form-control::placeholder {
    color:#9E9E9E
}

.form-select{
    background-color: transparent;
    color: $text-color;
    border-color: $accent-blue;
    option {
        color: $text-color;
        background-color: $main-background;
    }
}