.page_body{
    margin-top: 0.5rem;
}

.character_card{
    .card_image{
        padding: 1rem;
        aspect-ratio: 2 / 1 auto;
        max-height: 256px;
        max-width: 512px;
    }
    .card_text{
        text-align: center;
    }
}

.right_float{
    float: right;
}

body{
    background-color: rgb(48, 48, 48);
    color: white;
}

.section_header {
    font-size: 1.7rem;
    font-weight: 500;
}

.section_subheader {
    font-size: 1.1rem;
    font-weight: 400;
}